! templates/interface.j2
#jinja2: trim_blocks: False
#jinja2: lstrip_blocks: False

{% set intf = item.name %}
{% set state = item.state | default(default_state) %}

{% if state == 'absent' %}
   {# Ethernet Interfaces can only be defaulted, not removed #}
   {% if 'Ethernet' in intf %}

default interface {{ intf }}

   {% else %}
      {# remove interface if it exists #}
      {% set intf_block = _eos_config | re_search("^interface %s$" % intf) %}
      {% if intf_block %}

no interface {{ intf }}

      {% endif %}
   {% endif %}

{% elif state == 'present' %}
   {# Set up interface #}

interface {{ intf }}

   {% set intf_block = _eos_config | config_block('interface ' ~ item.name, indent=3) %}

   {% if item.description is defined %}
      {% set desc = item.description %}
      {% if desc is defined and desc %}

   description {{ desc }}

      {% elif desc == '' %}
         {# description contains empty string #}
         {# default current description if one exists #}
         {% if intf_block %}
            {% set intf_desc = intf_block | join('\n') | re_search('^no description') %}
            {% if not intf_desc %}

   default description

            {% endif %}
         {% endif %}
      {% endif %}
   {% else %}
      {# no description defined at all #}

   default description

   {% endif %}


   {# Enable/disable interface if necessary #}
   {% set enbl = (item.enable|default(default_enable) == True) | ternary('no shutdown','shutdown') %}

   {{ enbl }}
{% endif %}
