! templates/interface.j2
#jinja2: trim_blocks: False
#jinja2: lstrip_blocks: False

{% set intf = item.name %}
{% set state = item.state | default(default_state) %}

{# ******************** #}
{% if state == 'absent' %}
   {# Ethernet Interfaces can only be defaulted, not removed #}
   {% if 'Ethernet' in intf %}

default interface {{ intf }}

   {% else %}
      {# remove interface if it exists #}
      {% set intf_block = _eos_config | re_search("^interface %s$" % intf) %}
      {% if intf_block %}

no interface {{ intf }}

      {% endif %}
   {% endif %}
{# *********************** #}
{% elif state == 'present' %}
   {# Set up interface #}
   {% set intf_block = _eos_config | config_block('interface ' ~ item.name, indent=3) %}

   {# ============= #}
   {% if intf_block %}
      {# Interface exists - make sure parameters match #}

interface {{ intf }}

      {# -------------------------------- #}
      {# Set the description if necessary #}
      {% if item.description is defined %}
         {% set desc = item.description %}
         {% if desc %}

   description {{ desc }}

         {% elif desc == '' %}
            {# description contains empty string #}
            {# default current description if one exists #}
            {% set intf_desc = intf_block | join('\n') | re_search('^no description') %}
            {% if not intf_desc %}

   default description

            {% endif %}
         {% endif %}
      {% endif %} {# if item.description is defined #}

      {# ------------------------------------------------ #}
      {# Channel group, lacp port-priority, and lacp rate #}
      {# only apply to Ethernet interfaces #}

      {% if 'Ethernet' in intf %}
         {# Set channel group information if specified #}
         {% if item.channel_group is defined %}
            {% set cg = item.channel_group %}
            {% if cg.number is defined %}

   channel-group {{ cg.number }} mode {{ cg.mode | default(default_cg_mode)}}

            {% endif %}
         {% else %}

   no channel-group

         {% endif %} {# if item.channel_group is defined #}

         {# Set lacp port-priority if specified #}
         {% if item.lacp_port_priority is defined %}

   lacp port-priority {{ item.lacp_port_priority }}

         {% else %}
            {% set curr_priority = intf_block | join('\n') | re_search('^lacp port-priority 32768') %}
            {% if not curr_priority %}

   default lacp port-priority

            {% endif %}
         {% endif %} {# if item.lacp_port_priority #}

         {# Set lacp rate if specified #}
         {% if item.lacp_rate is defined %}

   lacp rate {{ item.lacp_rate }}

         {% else %}
            {% set curr_rate = intf_block | join('\n') | re_search('lacp rate normal') %}
            {% if not curr_rate %}

   default lacp rate

            {% endif %}
         {% endif %} {# if item.lacp_rate #}
      {% endif %} {# if 'Ethernet' in intf #}

      {# ------------------------------------- #}
      {# Enable/disable interface if necessary #}
      {% set enable = item.enable | default(default_enable) %}
      {% if enable %}

   no shutdown

      {% elif enable is defined and not enable %}

   shutdown

      {% endif %} {# if enable #}

   {% else %}
      {# ============================ #}
      {# Interface does not yet exist #}
      {# This block can only be called for a non-Ethernet interface, so #}
      {# channel-group, lacp port-priority, and lacp rate do not apply #}

interface {{ intf }}

      {% if item.description is defined %}
         {% set desc = item.description %}
         {% if desc is defined and desc %}

   description {{ desc }}

         {% endif %}
      {% endif %} {# if item.description is defined #}
      {% set enbl = (item.enable | default(default_enable) == True) | ternary('no shutdown','shutdown') %}

   {{ enbl }}

   {% endif %} {# intf_block #}
{% endif %} {# state #}
